@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

.services {
    max-width: 1300px;
    display: grid;
    place-items: center;
    margin: 70px auto;
    grid-template-columns: repeat(auto-fit, minmax(227px , 227px));
    grid-gap: 1em;
    overflow-x: hidden;
}

.service__intro { 
    display: grid;
    grid-column: 1/3;
}


.service__intro > p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 29px;
    letter-spacing: -0.007em;
    color: #2B2D42;
}

.service__intro > h1 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
    color: #2B2D42;
}

.contact__content > h1 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    letter-spacing: -0.005em;
    color: #2B2D42;
}

.service__intro > span {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 37px;
    color: #2B2D42;
}

.service__content > p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.005em;
    color: #2B2D42;
}

.contact__content > p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    letter-spacing: -0.005em;

    color: #2B2D42;
}

.service__content > h1 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.005em;
    color: #2B2D42;
}

.service , 
.contact {
    height: 345px;
    padding: 1rem 1.5rem;
}

.service {
    border-right: 1px solid #E5E5E5;
    position: relative;
    padding: 1.5rem;
}

.sm {
    display: none;
}

.lg {
    display: block;
}

.sm , .lg{
    padding: 1.5rem;
}

.arrow {
    position: absolute;
    width: 42px;
    height: 42px;
    right: 20px;
    bottom: 40px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px #E5E5E5;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.arrow > i {
    color: #0047AB;
}

.service__intro > h1 > span {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 37px;
    color: #2B2D42;
}

@media (max-width: 1160px) {
    .services , .sm , .lg{
        padding: 1.5rem;
    }
}

@media (max-width: 900px) {
    .sm {
        display: block;
    }

    .lg{
        display: none;
    }

    .service {
        border: none;
    }

    .service__intro {
        padding: 1.5rem;
    }
    .contact ,
    .service__intro {
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .service__intro > p {
        font-size: 16px;
    }

    .service__intro > h1 {
        font-size: 24px;
    }

    p {
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 30px;
        letter-spacing: -0.005em;
    }
    
    h1 {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        letter-spacing: -0.005em;
        color: #2B2D42;
    }

    
}