@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');


.location > h1 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */

    letter-spacing: 0.12em;

    color: #2B2D42;
}

.location {
    background: linear-gradient(208.56deg, #FFC03D -29.1%, #FFC107 64.78%);
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.4rem 0rem;
}