@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

* {
    box-sizing: border-box;
}

.navbar {
    display: flex;
    justify-content: space-between;
    height: 86px;
    align-items: center;
    max-width: 1280px;
    padding: auto auto;
    margin: 0rem auto;
}

.logo {
    width: 200px;
    height: 38.44px;
}

.phone {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.phone > h1 > span {
    color: #0047AB;
}

.fa-phone-alt,
.fa-bars {
    color: #0047AB;
}

.fa-phone-alt {
    padding-right: 0.6rem;
}

.phone > h1 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
}

ul {
    display: flex;
}

li {
    list-style: none;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #2B2D42;
    padding: 0rem 1rem;
    border-right:  1.5px solid #D7D4E2;
}

li:last-child {
    border-right: none;
}

li:hover {
    color: #0047AB;
    transition: 0.2s ease-in-out;
}

.sm__nav {
    display: none;
}

.lg_nav {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.nav {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    overflow: hidden;
    background: #2B2D42;
    color: #D7D4E2;
    z-index: 1000000;
    justify-content: center;
    align-items: center;
}

.nav > ul {
    display: flex;
    flex-direction: column;
}

.nav ul li {
    padding: 1rem;
    color: #D7D4E2;
    border-right: none;
}

.nav ul li:hover {
    cursor: pointer;
}

.sm__nav > .close {
    display: none;
}

.fa-times {
    position: absolute;
    top: 50px;
    right: 50px;
}


@media (max-width: 1330px) {
    li {
        font-size: 14px;
        padding: 0 0.8rem;
    }
}

@media (max-width: 1290px) {
    li {
        font-size: 12px;
        padding: 0 0.4rem;
    }
}

@media (max-width: 1030px) {
    li {
        font-size: 18px;
        padding: 0rem 1rem;
    }

    .sm__nav {
        display: block;
        padding: 0rem 1rem;
    }

    .logo {
        padding: 0 1rem;
    }

    .nav.close {
        display: none;
    }

    .lg_nav {
        display: none;
    }

    .phone > i ,
    .phone > h1 > span {
        color: #D7D4E2;
    }
    
}