@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

.navbar {
    display: flex;
    justify-content: space-between;
    height: 86px;
    align-items: center;
    max-width: 1280px;
    padding: auto auto;
    margin: 0rem auto;
    /* overflow: hidden; */
}

.logo {
    width: 200px;
    height: 38.44px;
}

.phone {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.phone > h1 > span {
    color: #0047AB;
}

.fa-phone-alt,
.fa-bars {
    color: #0047AB;
}

.fa-phone-alt {
    padding-right: 0.6rem;
}

.phone > h1 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
}

ul {
    display: flex;
}

li {
    list-style: none;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #2B2D42;
    padding: 0rem 1rem;
    border-right:  1.5px solid #D7D4E2;
}

li:last-child {
    border-right: none;
}

li:hover {
    color: #0047AB;
    transition: 0.2s ease-in-out;
}

.sm__nav {
    display: none;
}

.lg_nav {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

@media (max-width: 1330px) {
    li {
        font-size: 14px;
        padding: 0 0.8rem;
    }
}

@media (max-width: 1290px) {
    li {
        font-size: 12px;
        padding: 0 0.4rem;
    }
}

@media (max-width: 1030px) {
    li {
        font-size: 18px;
        padding: 0rem 1rem;
    }

    .sm__nav {
        display: block;
        padding: 0rem 1rem;
    }

    .logo {
        padding: 0 1rem;
    }
    .lg_nav {
        display: none;
    }
}